body{
    background-color: rgb(39, 94, 39);
    color:rgb(0, 0, 0);
    font-size: 25px;
}
.cabecalho{
    background-image: url(./img/depositphotos_5076472-stock-photo-a-lot-sheep-on-the.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 300px;
    display:flex;
    font-size: 20px;
    justify-content: space-around;
}

.cabecalho-img{
    width: 20%;
}